[ui-view] {
	padding: 15px;
}

.lockscreen {
	pointer-events: none;
}
.lockscreen::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: '';
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.lockscreen::after {
	background-image: url(../images/loader.gif);
	content: '';
	height: 100px;
	left: calc(50% - 50px);
	position: fixed;
	top: calc(50% - 50px);
	width: 100px;
	z-index: 2;
}

.sort-row {
	padding-bottom: 15px;
}

.ascending::after {
	content: '↓';
	font-weight: bold;
}
.descending::after {
	content: '↑';
	font-weight: bold;
}

.car-row {
	margin-bottom: -15px;
	margin-right: 0;
}
.car-row .car {
	padding: 0 0 15px 15px;
}

.car .value {
	padding-left: 0;
}

.panel-heading-with-sm-button h3 {
	line-height: 30px;
}
